@model SpotifyDomainLayer.UserProfile

@{
    ViewData["Title"] = "Ana Sayfa";
}

<link href="~/css/mainpage.css" rel="stylesheet" />

<div class="main-container">
    <div class="profile-section">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <strong>Hata:</strong> @ViewBag.ErrorMessage
            </div>
        }
        else if (Model != null)
        {

            @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
            {
                <div class="profile-picture">
                    <img src="@Model.ProfilePictureUrl" alt="Profile Picture" />
                </div>
            }
            else
            {
                <p>No profile picture available.</p>
            }

            <p><strong>Display Name:</strong> @Model.DisplayName</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Country:</strong> @Model.Country</p>
			<p><strong>Followers:</strong> @Model.Followers</p>
			<p><strong>Product:</strong> @Model.Product</p>
            //<p><strong>Url:</strong> @Model.Uri</p>
			<p><strong>Spotify ID:</strong> @Model.Id</p>



		
			
            
            

            
        }
        else
        {
            <p>Profil verisi henüz yüklenemedi.</p>
        }
    </div>

    <div class="action-section-container">
        <div class="action-section">
            <p>Spotify'dan alınan verileri görmek için aşağıdaki butona tıklayın:</p>
            <form method="get" action="@Url.Action("GetRecentlyPlayed", "Spotify")">
                <button type="submit">Son Çalınanları Göster</button>
            </form>
        </div>

        <div class="action-section">
            <p>Duygu durum analizinizi görmek için tıklayın:</p>
            <form method="get" action="@Url.Action("GetRecentlyPlayed", "Spotify")">
                <button type="submit">Son Çalınanları Göster</button>
            </form>
        </div>

        <div class="action-section">
            <p>Şarkı öneri sistemi:</p>
            <form method="get" action="@Url.Action("GetRecentlyPlayed", "Spotify")">
                <button type="submit">Son Çalınanları Göster</button>
            </form>
        </div>

        <div class="action-section">
            <p>şarkıyı dondur:</p>
            <form method="get" action="@Url.Action("PausePlayback", "Spotify")">
                <button type="submit">Playlistlerim</button>
            </form>
        </div>

        <div class="action-section">
            <p>şarkıyı dondur:</p>
            <form method="get" action="@Url.Action("SkipToNext", "Spotify")">
                <button type="submit">Playlistlerim</button>
            </form>
        </div>

        <div class="action-section">
            <p>şarkıyı dondur:</p>
            <form method="get" action="@Url.Action("SkipToPrevious", "Spotify")">
                <button type="submit">Playlistlerim</button>
            </form>
        </div>
    </div>
</div>
